<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main.html}">
<body>
<div layout:fragment="title">
    <div class="container pt-5">
        <h1 class="text-center">My Books Application</h1>
        <br>
    </div>
</div>
<div layout:fragment="content">
    <div class="py-3 px-5">
        <h3 class="text-center">Kérlek regisztrálj</h3>
        <br>
    <form name="registration" th:action="@{/reg}" th:object="${user}" method="post" class="form-signin">
        <div class="row">
            <div class="col-md-3 col-xl-3"></div>
            <div class="col-md-2 col-xl-2 text-end">
                <label for="username" class="fw-bold">Felhasználó név</label>
            </div>
            <div class="col-md-4 col-xl-3">
                <!--/*@thymesVar id="username" type="java.lang.String"*/-->
                <input type="text" id="username" name="username" th:field="*{username}" class="text-primary border-secondary form-control p-1" placeholder="Username" required="true"/>
            </div>
            <div class="col-md-3 col-xl-4"></div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-3 col-xl-3"></div>
            <div class="col-md-2 col-xl-2 text-end">
                <label for="email" class="fw-bold">Email cím</label>
            </div>
            <div class="col-md-4 col-xl-3">
                <!--/*@thymesVar id="email" type="java.lang.String"*/-->
                <input type="text" id="email" name="email" th:field="*{email}" class="text-primary border-secondary form-control p-1" placeholder="Email" required="true"/>
            </div>
            <div class="col-md-3 col-xl-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-xl-3"></div>
            <div class="col-md-2 col-xl-2 text-end">
                <label for="password" class="fw-bold">Jelszó</label>
            </div>
            <div class="col-md-4 col-xl-3">
                <!--/*@thymesVar id="password" type="java.lang.String"*/-->
                <input type="text" id="password" name="password" th:field="*{password}" class="text-primary border-secondary form-control p-1" placeholder="Jelszó" required="true"/>
            </div>
            <div class="col-md-3 col-xl-4"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-xl-3"></div>
            <div class="col-md-2 col-xl-2"></div>
            <div class="col-md-4 col-xl-3">
                <input type="submit" class="btn btn-outline-secondary btn-light align-middle py-1" value="Regisztráció"/>
            </div>
            <div class="col-md-3 col-xl-4"></div>
        </div>
    </form>
</div>
</div>
</body>
</html>