<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main.html}">
<body>
<div layout:fragment="content">
    <div class="container pt-3">
        <h3 class="text-center text-secondary">Author</h3>
        <br>
        <div class="form-row">
            <div class="form-group table-responsive">
                <table class='table table-bordered table-hover'>
                    <thead>
                    <tr>
                        <th class='border-secondary text-secondary text-center p-1'>First name</th>
                        <th class='border-secondary text-secondary text-center p-1'>Last name</th>
                        <th class='border-secondary text-secondary text-center p-1'>Age</th>
                    </tr>
                    </thead>
                    <tbody class='border'>
                    <tr>
                        <!--/*@thymesVar id="author" type="hu.tmx.mybooksapp.model.Author"*/-->
                        <td th:text="${author.firstName}" class='border-secondary text-secondary text-center p-1'></td>
                        <td th:text="${author.lastName}" class='border-secondary text-secondary text-center p-1'></td>
                        <td th:text="${author.age}" class='border-secondary text-secondary text-center p-1'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>