<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main.html}">
<body>
<div layout:fragment="content">
    <div class="py-3 px-5">
        <h3 class="text-center text-secondary">Add new book</h3>
        <br>
        <form method="post" th:action="@{/books}" >
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="title">Title</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <input class="text-secondary border-secondary form-control p-1" type="text" name="title" id="title"  required>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="releaseDate">Release Date</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <input class="col-md-9 col-xl-9 text-secondary border-secondary form-control p-1" type="text" name="releaseDate" id="releaseDate"  required>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="authorId">Author</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <select class="col-md-9 col-xl-9 text-secondary border-secondary form-control p-1" name="authorId" id="authorId" >
                        <!--/*@thymesVar id="bookAuthor" type="hu.tmx.mybooksapp.model.Author"*/-->
                        <option th:each="bookAuthor:${authors}" th:value="${bookAuthor.id}" th:text="${bookAuthor.firstName} + ' ' + ${bookAuthor.lastName}"></option>
                    </select>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2"></div>
                <div class="col-md-4 col-xl-4">
                    <input type="submit" class="btn btn-outline-secondary btn-light align-middle py-1" value="Save" id="newBookSubmit" name="newBookSubmit"/>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>