<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main.html}">
<body>
<div layout:fragment="content">
    <div class="py-3 px-5">
        <h3 class="text-center text-secondary">Update author</h3>
        <br>
        <form method="post" action="" id="formAuthorUpdate">
            <input type="hidden" name="authorId" id="authorId" th:value="${authorUpdate.id}">
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="firstName">First name</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <!--/*@thymesVar id="firstName" type="java.lang.String"*/-->
                    <input class="text-secondary border-secondary form-control p-1" type="text" name="firstName" id="firstName" th:value="${authorUpdate.firstName}" required>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="lastName">Last name</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <!--/*@thymesVar id="lastName" type="java.lang.String"*/-->
                    <input class="col-md-9 col-xl-9 text-secondary border-secondary form-control p-1" type="text" name="lastName" id="lastName" th:value="${authorUpdate.lastName}" required>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2 text-end">
                    <label class="text-secondary font-weight-bolder" for="age">Age</label>
                </div>
                <div class="col-md-4 col-xl-4">
                    <!--/*@thymesVar id="age" type="java.lang.Integer"*/-->
                    <input class="col-md-9 col-xl-9 text-secondary border-secondary form-control p-1" type="text" name="age" id="age" th:value="${authorUpdate.age}" required>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-2 col-xl-2"></div>
                <div class="col-md-4 col-xl-4">
                    <input type="submit" class="btn btn-outline-secondary btn-light align-middle py-1" value="Save" th:id="${authorUpdate.id}" name="updateAuthorSubmit"/>
                </div>
                <div class="col-md-3 col-xl-3"></div>
            </div>
        </form>
    </div>
</div>
</body>
</html>